<ion-header>
  <ion-toolbar color="success">
    <ion-title>Open Chat</ion-title>
    <ion-buttons>
      <ion-buttons slot="start">
      <ion-back-button (click)="toPrefer()" color="light"></ion-back-button> </ion-buttons>
      <ion-buttons slot="end">
        <ion-button fill="clear" (click)="signOut()">
          <ion-icon name="log-out" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-buttons>

  
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <df-messenger
    chat-icon="https:&#x2F;&#x2F;www.kku.edu.sa&#x2F;sites&#x2F;default&#x2F;files&#x2F;logo_2.png"
    intent="WELCOME"
    chat-title="Khaled"
    agent-id="497f7e0b-d55a-42df-b4ef-b91f2b723a19"
    language-code="en"
    expand="false"
  ></df-messenger>
</ion-content>
