ion-card{
    width: 220px;
    height: 200px;
    border-bottom: 20px solid rgb(67, 236, 123);;
    padding-top: 40px;
}
ion-icon {
    font-size: 64px;
    color: rgb(67, 236, 123);
  }

  ion-content{
text-align: center;
color: rgb(67, 236, 123);

  }